###  IF, ELIF, ELSE

In [1]:
# Ten cuidado con las identaciones!!!!
if True:
        print('It was true!')

It was true!

In [2]:
if True:
    print("hola")

hola

In [3]:
x = False

if x:
        print('x was True!')
else:
        print('I will be printed in any case where x is not true')

I will be printed in any case where x is not true

In [4]:
loc = 'Auto Shop'

if loc == 'Auto Shop':
    print('Welcome to the Auto Shop!')
elif loc == 'Bank':
    print('Welcome to the bank!')
elif loc == 'gato':
    print('hola')
else:
    print('Where are you?')

Welcome to the Auto Shop!

In [5]:
person = 45

if person <= 50 and person >= 1:
    print('Welcome Sammy!')
else:
    print("Welcome, what's your name?")

Welcome Sammy!

In [ ]:
person = 'George'

if person == 'Sammy':
    print('Welcome Sammy!')
elif person =='George':
    print('Welcome George!')
else:
    print("Welcome, what's your name?")

### FOR LOOPS

In [1]:
list1 = [1,2,3,4,5,6,7,8,9,10]
for elemento in list1:
    print(elemento)

1
2
3
4
5
6
7
8
9
10

In [4]:
num

10

In [3]:
# Solo ponemos los pares
for num in list1:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [5]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number')

Odd number
2
Odd number
4
Odd number
6
Odd number
8
Odd number
10

In [8]:
# Este bucle suma los elmentos de la lista
# Comienza la suma en 0
list_sum = 0 

for num in list1:
    list_sum += num

print(list_sum)

55

In [9]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
# Una variación
list_sum = 0 

for num in list1:
    list_sum += num

print(list_sum)

55

In [11]:
# También podemos iterar strings
for letter in 'This is a string.':
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g
.

In [12]:
# También iteramos tuplas
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

In [13]:
# ¿Y si tenemos tuplas dentro de listas?
list2 = [(2,4),(6,8),(10,12)]
for tup in list2:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [14]:
# Aquí desglosamos cada tupla
for (t1,t2) in list2:
    print(t1)

2
6
10

In [15]:
# Ahora vamos a por los diccionarios
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [16]:
# Fíjate que en el anterior solamente nos muestra las keys, pero nosotros también queremos ver los valores
for k,i in d.items():
        print(k)
        print(i)

k1
1
k2
2
k3
3

In [17]:
# Como dato curioso, podemos obtener una lista de las keys o de los items de esta forma
list(d.keys())

['k1', 'k2', 'k3']

In [ ]:
# También podemos ordenar los valores del diccionario!!!! Pero no dentro del diccionario, si no fuera de él.
# Recuerda que los diccionarios son desordenados en sí mismos de forma arbitraria
sorted(d.values())

### WHILE LOOPS

In [18]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x

In [19]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    
else:
    print('All Done!')

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x
All Done!

### BREAK, CONTINUE, PASS

**Break** sale del bucle más inmediato.
**Continue** vuelve al inicio del bucle más inmediato.
**Pass** no hace niguna acción.

In [20]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('x==3')
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
x==3
x is currently:  3
 x is still less than 10, adding 1 to x
continuing...
x is currently:  4
 x is still less than 10, adding 1 to x
continuing...
x is currently:  5
 x is still less than 10, adding 1 to x
continuing...
x is currently:  6
 x is still less than 10, adding 1 to x
continuing...
x is currently:  7
 x is still less than 10, adding 1 to x
continuing...
x is currently:  8
 x is still less than 10, adding 1 to x
continuing...
x is currently:  9
 x is still less than 10, adding 1 to x
continuing...

In [21]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('Breaking because x==3')
        break
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
Breaking because x==3

In [ ]:
# ¿Quieres petar tu ordenador? Corre esto. Para salir de aquí tendrás que pulsar en Kernel y restart. 
# Ctrl(Cmd)+C o Esc suele funcionar en la consola
while True:
    print("I'm stuck in an infinite loop!")

In [ ]:
lista_prueba = ['huevo','pan','leche','azucar','cafe','nutella']

#count = 0

#for i in lista_prueba:
#    print(i)
#    count += 1
#    print(count)
    
#print(f'Este es el valor final del contador {count}')

condicion = True
count2 = 0
while condicion:
    lista_prueba.append('tomate')
    print(lista_prueba)
    count2 += 1
    if count2 == 7:
        condicion=False

### Range

In [22]:
# Genera una lista muy rápida de números enteros.
# Range() tiene tres argumentos, el inicio, el final y el paso. Fíjate en los índices del final
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
list(range(0,101,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [27]:
range(0,101,10)

range(0, 101, 10)

### Enumerate

In [28]:
# Se usa sobre todo para los bucles for
index_count = 0

for letter in 'abcde':
    print("At index {} the letter is {}".format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [29]:
for i,letter in enumerate('abcde'):
    #print("At index {} the letter is {}".format(i,letter))
    print(f"At index {i} the letter is  {letter}")

At index 0 the letter is  a
At index 1 the letter is  b
At index 2 the letter is  c
At index 3 the letter is  d
At index 4 the letter is  e

### In

In [30]:
'x' in ['x','y','z']

True

In [31]:
'x' in [1,2,3]

False

### Not in

In [32]:
'x' not in ['x','y','z']

False

In [33]:
'x' not in [1,2,3]

True

### Min, max

In [34]:
mylist = [10,20,30,40,100]
min(mylist)

10

In [35]:
max(mylist)

100

### Random

In [36]:
# Aquí vamos a importar shuffle que viene con la librería random. 
# Digamos que sirve para descolocar una lista
from random import shuffle
shuffle(mylist)
mylist

[30, 10, 100, 40, 20]

In [37]:
# Otra función es randint que nos genera un número entero aleatorio entre a y b, incluyendo tanto a a como a b
from random import randint
randint(0,100)

87

### Input

In [39]:
input('Pon algo aquí: ')

Pon algo aquí:  Hola

'Hola'

# EJERCICIOS

#### 1.- Emplea for, split() e if para crear un código que imprima todas las palabras que empiecen por 's'.

In [57]:
st = 'Print only the words that Start with s in this sentence'

In [60]:
lista = st.split()
for palabra in lista:
    if palabra(0).lower() == 's':
        print(palabra)

TypeError: 'str' object is not callable

In [58]:
for word in st.split():
    if word.lower().startswith('s'):
        print(word)

Start
s
sentence

#### 2.- Usa range() para hacer una lista con todos los números pares del 0 al 10

In [40]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

#### 3.- Recorre la siguiente string e imprime  solo las palabras que tengan una longitud par

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'

#### 4.- Escribe un pequeño algoritmo que imprima los enteros del 1 al 100. 
#### Para múltiplos de 3 escribe 'Fizz' en lugar del número
#### Para múltiplos de 5 escribe 'Buzz'
#### Para los que sean múltiplos de 3 y de 5 escribe 'FizzBuzz'

In [49]:
list(range(1,101))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [51]:
for num in list:
    if num % 3 == 1:
        print(num)

TypeError: 'type' object is not iterable