# PRACTICA 1

### Resuelve las siguientes preguntas empleando lo aprendido con las estructuras de Datos

Pon el código debajo de cada pregunta. Añade tantas celdas de código como necesites.

#### 1.- Escribe una ecuación que emplee multiplicación, división, un exponente, suma y resta y que sea igual a 100.25. (0,25 ptos)

In [1]:
((10*10)/1)**1+0.25-0

100.25

#### 2.- ¿Qué harías para obtener la raíz cuadrada de 100? Busca dos formas. (0,5 ptos)

In [2]:
100**0.5

10.0

In [15]:
import math
math.sqrt(100)

10.0

#### 3.- ¿Y el cuadrado de 100? (0,25 ptos)

In [5]:
100**2

10000

#### 4.- Tenemos la string 'hello'. (0,5 ptos)
#### Primero devuelve la letra 'e'
#### Luego dale la vuelta a la string 
#### Después usa dos métodos para devolver la letra 'o'

In [10]:
s = 'hello'

In [9]:
s[1]

'e'

In [11]:
s[::-1]

'olleh'

In [12]:
s[4]

'o'

In [16]:
s[-1]

'o'

#### 5.- Crear una lista que contenga esto [0,0,0] de dos formas distintas (0,5 ptos)

In [25]:
mi_lista1 = [0,0,0]

In [26]:
mi_lista1

[0, 0, 0]

In [27]:
list[0,0,0]

list[0, 0, 0]

#### 6.- Reasigna 'hello' en la lista a continuación para que diga 'goodbye' (1 pto)

In [31]:
lista = [1,2,[3,4,'hello']]

In [33]:
lista = [1,2,[3,4,'goodbye']]
lista

[1, 2, [3, 4, 'goodbye']]

#### 7.- Ordena la siguiente lista (0,5 ptos)

In [35]:
listaSinOrdenar = [5,3,4,6,1]

In [38]:
listaSinOrdenar.sort()
listaSinOrdenar

[1, 3, 4, 5, 6]

#### 8.- En los siguientes diccionarios, extrae el valor de 'hello (2 ptos)

In [46]:
f = {'k1':{'k2':'hello'}}

In [60]:
f['k1']['k2']

'hello'

In [61]:
d = {'key1':'hello'}

In [63]:
d['key1']

'hello'

In [65]:
g = {'k1':[{'o1':['valor escondido',['hello']]}]}

In [68]:
g['k1'][0]['o1'][1]

['hello']

In [73]:
h = {'k1':[1,2,{'k2':['complicado',{'dificil':[1,2,['hello']]}]}]}

In [79]:
h['k1'][2]['k2'][1]['dificil'][2]

['hello']

#### 9.- Crea una tupla (1 pto)

In [57]:
t = (1,2,3,4,5)
t

(1, 2, 3, 4, 5)

#### 10.- Emplea los sets para encontrar los valores únicos de esta lista (0,5 ptos)

In [81]:
listaDuplicada = [1,2,2,33,4,4,11,22,3,3,2]

In [82]:
valores = set(listaDuplicada)
valores

{1, 2, 3, 4, 11, 22, 33}

#### 11.- Haz las siguientes comparaciones: (0,5 ptos)
#### Dos mayor que tres
#### Tres igual que 2
#### La raíz cuadrada de cuatro no es igual a 2
#### Se cumple si 6 es mayor que 5 y 7 menor de 8
#### Se cumple si la longitud de _nombre_ es  que el número de elementos de _colores_ o si la longitud de _nombre_ es menor de 7.

In [83]:
# 2 mayor que 3
2<3

True

In [85]:
# 3 igual que 2
3==2

False

In [86]:
# raíz cuadrada de 4 no es igual a 2
4**2==2

False

In [88]:
# se cumple si 6 es mayor que 5 y 7 menor de 8
6>5 
7<8

True

In [90]:
nombre = "Pepito"
colores = ["azul","rojo","verde","lila","amarillo limón"]

In [91]:
len(nombre)

6

In [93]:
6<7

True

#### 12.- Crea un archivo mediante código que se llame _tabla-nombres.txt_ y que esté formado por 4 columnas y 4 filas con la siguiente formación (1,5 ptos):
#### Primera columna: Nombre
#### Segunda columna: Apellidos (2 apellidos)
#### Tercera columna: Edad
#### Cuarta columna: Mascotas (nombre de la mascota si tienen)

#### ¿Qué pasa si abres el archivo desde Jupyter y has metido acentos? ¿Puedes solucionarlo?

In [154]:
archivo=open("tabla-nombres.txt","a+")
archivo.write("Nombre \tApellidos\tEdad \tMascotas")
archivo.write('\nCarlos\tCortezón Verdeja\t22\t\tNo')
archivo.write('\nRosa\tDelgado Saez \t46 \t\tLuna')
archivo.write('\nLuis\tMarco García\t33 \t\tSol')

27

#### 13.- Crea un diccionario que contenga las siguientes parejas. Obtén el listado de keys() y guárdalo en una lista. Añade un par de elementos más y después convierte esa lista en un set (1 pto).

#### Rattus = novergicus, rattus
#### Glaucidium = brasilianum, hoskinsii, californicum, minutissimum
#### Echinocactus = grusonii
#### Opuntia = 1

In [161]:
diccionario = {}
diccionario['Rattus'] = 'novergicus', 'rattus'
diccionario['glaucidium'] = 'brasilianum', 'hoskinsii', 'californicum', 'minutissimum'
diccionario['echinocactus'] = 'grusonii'
diccionario['opuntia'] = 1
diccionario

{'Rattus': ('novergicus', 'rattus'),
 'glaucidium': ('brasilianum', 'hoskinsii', 'californicum', 'minutissimum'),
 'echinocactus': 'grusonii',
 'opuntia': 1}

In [162]:
diccionario.keys()

dict_keys(['Rattus', 'glaucidium', 'echinocactus', 'opuntia'])

In [163]:
mi_lista3=['Rattus', 'glaucidium', 'echinocactus', 'opuntia']

In [ ]:
mi